{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "es5",
    "semi": true,
    "newline-before-return": true,
    "no-duplicate-variable": [true, "check-parameters"],
    "no-var-keyword": true,
    "arrowParens": "always"
}